<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>手写数字识别</title>
<link rel="stylesheet" type="text/css" href="{{static_url('css/canvas.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.min.css')}}">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 ,user-scalable=no"> -->
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
</head>
<body>
    <canvas id="canvas" width="300" height="300">
    Sorry, your browser doesn't support the &lt;canvas&gt; element.
    </canvas>
    <div class="row">
        <div class="col-md-4">
            <button id = "clear" type="button" class="btn btn-success">清屏</button>
            <button id = "evaluate" type="button" class="btn btn-success">开始识别</button>
        </div> 
    </div>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <canvas id="canvas" width="300" height="300">
                Sorry, your browser doesn't support the &lt;canvas&gt; element.
                </canvas>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-4">
                <button id = "clear" type="button" class="btn btn-success">清屏</button>
                <button id = "evaluate" type="button" class="btn btn-success">开始识别</button>
            </div> 
        </div> 
    </div> -->

    <script src="{{static_url('js/setdevice.js')}}"></script>
    <script src="{{static_url('js/jquery-2.2.3.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
</body>
</html>