<!DOCTYPE html>
<head>
	<title class="title">抽奖页面</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- STYLE -->
	<link rel="stylesheet" href="{{static_url('css/main.css')}}">
	<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">

</head>



<body class="main-body">

	<!-- HEADER  -->
	<header>
		<div class="head">
			<h1>
				抽奖页面
			</h1>
		</div>
	</header>

	<div class="main-div">
		<h1>WelCome!</h1>
	</div>


	<div style="padding-top: 400px; padding-left: 7%; width:35%;">
		<!-- <form id="form1" name="form1"> -->
			<!-- <input type="button" id="button1" value="录入信息" 
			class="button-style"
			/> -->
			<a class="btn btn-lg btn-success btn-block" href="/input" role="button">录入信息</a>
	</div>

	<div style="padding-top: 30px; padding-left: 7%; width:35%;">
				<!-- <input type="button" id="button" value="抽奖" 
				class="button-style btn btn-primary"
				/> -->
			<a class="btn btn-lg btn-success btn-block" href="/result" role="button">抽奖</a>

	</div>

</body>

<footer>

	<!-- SCRIPTS -->
	<script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>

</footer>

</html>
